



<!DOCTYPE html>
<html>
<head>
    <title>Boîtes de Dialogue</title>
    <style>
        /* Style pour que les textarea apparaissent les unes en dessous des autres */
        #boites-container {
            display: block;
            margin-bottom: 10px; 
            width: 300px; 
            height: 100px;
        }
    </style>
</head>
<body>
    <form action="/create_subtrade/" method = 'post'>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Soumettre"></input>
    </form>
   
    
</body>
</html>